modules = ["nodejs-20", "web"]
run = "start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "start"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 44821487
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx http-server -p 5000 -c-1"

[[ports]]
localPort = 5000
externalPort = 80
